@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

body {
  font-family: 'Epilogue', sans-serif;
  width: 100%;
}

.rounded-button-border {
  border-radius: 15px;
}

